<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppId</key>
	<string>3001006</string>
	<key>AppKey</key>
	<string>31de8cbc5f157768ca44ca41e6f82d35</string>
	<key>Language</key>
	<string>cn</string>
	<key>Debug</key>
	<true/>
	<key>BiAgent</key>
	<string>http://123.207.90.81/bi-agent/</string>
</dict>
</plist>
